html {
    font-family: Dosis;
    font-size: 16px;
  }

body {
    background-color: white;
    text-align: center;
}

a {
    color: rgb(22, 46, 111);
}

p {
  margin: 0;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navbar {
    display: flex;
    justify-content: space-around;
    margin: 0.5rem 10%;
    align-items: center;
    font-size: 1.2rem;
}

main {
    display: flex;
    flex-direction: column;
}

.content {
  background-color: #e5e7eb76;
  display: flex;
  row-gap: 20%;
  padding: 0.5rem;
  justify-content: space-between;
  flex-grow: 1;
  border-radius: 2%;
  margin: 0.3rem 5%;
  align-items: center;
}

.content img {
  width: 100%;
  max-width: 30rem; /* 12.5rem = 200px */
  height: 20rem;
  object-fit: cover;
  border-radius: 2%;
  overflow: hidden;
}

.content section {
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 2rem;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-direction: column;
}

#innovation-text {
  margin-left: 10%;
  margin-right: 10%;
}

@media only screen
and (max-width : 55rem) {
  .content {
    flex-direction: column;
  }

  .content section img {
    order: -1;
  }
}